@tailwind base;
@tailwind components;
@tailwind utilities;


.green-gradient {
    background: linear-gradient(#0e7469, #2bae95);
    background-clip: text;
    color: transparent;
}

/* .test {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}
.test::-webkit-slider-thumb {
    -webkit-appearance: none;
} */